@media screen and (max-width: 1460px) {
    #bb5{
        margin-left: -25em;
        margin-right: 25em;
    }
    .about-text{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1350px) {
    .about-text{
        font-size: 0.8em;
    }

    .fourth-left{
        font-size: 12px;
    }

    .Quotes{
        left: -9%;
    }
}

@media screen and (max-width: 1267px) {
    /* .comments{
        display: grid;
        grid-template: 10% 30% 15% 30% 15%/ 15% 35% 5% 35% 20%;  
        height: 70%;
        width: 100%;
    } */
}

@media screen and (max-width: 1240px) {
    /* .comments{
        display: grid;
        grid-template: 10% 20% 35% 20% 15%/ 15% 35% 5% 35% 20%;  
        height: 70%;
        width: 100%;
    } */

    /* .boxes-wrapper{
        grid-template: 20em 10em 20em/ 20% 45%;
    } */

    #bb5{
        margin-left: -15em;
        margin-right: 10em;
    }

    #bb6{
        margin-left: -10em;
        margin-right: 10em;
    }

    .fourth-left{
        font-size: 10px;
    }

    .Quotes{
        left: -11%;
    }
}

@media screen and (max-width: 1148px) {

    .footer-right-about-content{
        font-size: 20px;
    }

    #bb1{
        margin-bottom: 4em;
    }
    
    #bb2{
        margin-left: -7em;
        margin-top: 7em;
        margin-bottom: -3em;
    }
    
    #bb3{
        margin-bottom: 4em;
        
    }
    
    #bb4{

        margin-left: 2em;
        margin-right: -5em;
        margin-top: -5em;
        margin-bottom: 10em;
    }
    

    #bb5{
        margin-left: -15em;
        margin-right: 10em;
        margin-bottom: 4em;
    }

    #bb6{
        margin-left: -10em;
        margin-right: 7em;
    }

}

@media screen and (max-width: 1106px) {
    /* #bb5{
        margin-left: -20em;
        margin-right: 20em;
    }

    #bb6{
        margin-left: -10em;
        margin-right: 10em;
    } */

    .about-text{
        font-size: 0.7em;
        /* left: 23%; */
    }

    .fourth-left{
        font-size: 8px;
    }
}

@media screen and (max-width: 1000px) {
    .container2{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .hover-wrapper{
        height: 40%;
    }

    /* .comments{
        display: grid;
        grid-template: 10% 20% 50% 20% 15%/ 15% 35% 5% 35% 20%;  
        height: 70%;
        width: 100%;
    } */

    .FAQ{
        height: 3em;
    }

    .fourth-sub-text{
        width: 12.125em
    }

    .container3{
        display: flex;
        flex-direction: column;
    }

    .testimonial-wrapper{
        display: none;
    }

    .mobile-testimonial-text{
        margin-top: 10%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        color: #395157;
    }

    
    .comments{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        width: 80%;
        position: relative;
    }

    .comment{
        position: relative;
        width: 70%;
        margin: 5%;
    }

    .Quotes{
        position: absolute;
        left: -7%;
        top: -10%;
    }

    #comment3{
        display: none;
    }

    #comment4{
        display: none;
    }

    .footer-left{
        justify-content: center;
        margin-left: -5%;
    }

    .icon-text{
        font-size: 20px;
    }

    .footer-right{
        font-size: 20px;
        margin-right: -6%;
    }
}

@media screen and (max-width: 900px) {
    .fourth-left{
        font-size: 6px;
    }

    .working-text{
        font-size: 18px;
    }
}

@media screen and (max-width: 840px) {
    #bb2{
        margin-top: 4em;
        margin-bottom: 2em;
    }

    #bb4{
        margin-top: -10em;
        margin-bottom: 15em;
    }

    #bb5{
        /* margin-left: -9em;
        margin-right: 9em;
        margin-top: -5em;
        margin-bottom: 5em; */
        display: none;
    }

    #bb6{
        margin-top: -10em;
        margin-bottom: 10em;
        margin-left: -15em;
    }

    .about-text{
        font-size: 0.7em;
        left: 23%;  
        top: 10%;  
    }

    .container2{
        font-size: 12px;
        margin-bottom: 10rem;
    }

    .Quotes{
        position: absolute;
        left: -10%;
        top: -10%;
    }

    footer{
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-middle{
        order: 1;
        width: 100%;
        margin-top: 1em;
    }

    .footer-right{
        order: 2;
        width: 100%;
        margin-top: 0.5em;
        
    }

    .footer-left{
        order: 3;
        width: 100%;
        margin-top: 0.5em;
        display: flex;
        align-items: flex-start;
    }

    .footer-left-elements{
        /* margin:auto */
        margin-top: 0;
    }

    .covercircle-footer{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        min-width: 30px;
    }

    #company-name{
        font-size: 3em;
        font-weight: 900;
    }

    #location-address{
        margin-right: auto;
    }

    .location-image-full{
        margin-right: 0;
    }
}


/* HERE MOBILE OUTLET STARTS */
@media screen and (max-width: 720px) {
    #nav-hamburger{
        display: flex;
    }

    .nav-text{
        display: none;
    }

    #bb5{
        margin-left: -9em;
        margin-right: 9em;
    }
    .about-text{
        font-size: 0.6em;
        left: 25%;  
        top: 20%;  
    }

    .container2{
        flex-direction: column;
        align-items: center;
    }

    .bigbox{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        aspect-ratio: 1.456342669;
    }

    .hover-wrapper{
        display: flex;
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        align-items: stretch;
        /* flex-basis: 40%; */
    }

    .container3{
        display: flex;
        flex-direction: column;
    }

    .testimonial-wrapper{
        display: none;
    }

    .mobile-testimonial-text{
        margin-top: 10%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        color: #395157;
    }

    .comments{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        width: 100%;
    }

    .comment{
        width: 70%;
        margin: 5%;
    }

    .signature{
        margin-left: 32%;
    }

    #comment3{
        display: none;
    }

    #comment4{
        display: none;
    }
    
    .container4{
        flex-direction: column;
    }

    .fourth-left{
        align-items: center;
    }

    .fourth-sub-text{
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 1em;
    }
}

@media screen and (max-width: 650px) {

    #bb2{
        margin-left: -12em;
        margin-right: 7em;
    }

    #bb3{
        margin-left: -3em;
        margin-bottom: 6em;
    }

    #bb4{
        margin-bottom: 15em;
    }
    
    #bb6{
        margin-bottom: 15em;
    }
}

@media screen and (max-width: 590px) {
    .container1{
        height: 50rem;
    }

    .about-text{
        font-size: 0.5em;
    }

    #bb1{
        margin-bottom: 10em;
        margin-right: -4em;
    }

    #bb2{
        margin-left: -7em;
        margin-top: 1em;
        margin-bottom: 10em;
        margin-right: 2em;
    }

    #bb3{
        margin-bottom: 10em;
    }

    #bb4{
        margin-bottom: 20em;
    }

    #bb6{
        margin-top: -15em;
        margin-bottom: 26em;
        margin-left: -7em;
        margin-right: 3em;
    }

    .signature{
        margin-left: 35%;
    }
}

@media screen and (max-width: 490px) {
    .Quotes{
        left: -12%;
    }
}


@media screen and (max-width: 475px) {
    .signature{
        margin-left: 40%;
    }
    
}

@media screen and (max-width: 450px) {

    #bb2{
        display: none;
    }

    .bigbox{
        width: 95%;
    }
    .about-text{
        font-size: 0.4em;
    }
}
